* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.img-logo {
  width: 400px;

}

body {
  background-color: #2b325c;
}

.form-city {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.park-container {
  margin-left: 20px;
  margin-right: 20px;
  padding :20px;
  background-color: rgb(203, 215, 247);

}

.park-section {
  margin-left: 20px;
  margin-right: 20px;
  padding :20px;
  

}
.comment-button {
   padding: 10px;
    margin: 10px;
  font-size: 15px ;
}

.rendered-comments-field {
  list-style-type:none;
} 

.park-picture {
display: block;
width:75%;
margin-left: auto;
margin-right: auto;

} 

.park-name {
  text-align: center;
}

input[type=text] {
  width: 40%;
  
}